<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Web bất động sản</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
  <!--SignupAndSignin-->
  <button class="btn btn-dark btn-focus text-white font-weight-bold" id="logout">Thoát tài khoản: <%= user.username %></button>
  <script>
    document.getElementById('logout').onclick = function() {
      location.href = "/logout";
    };
  </script>
  <div class="body">
    <div class="container">
      <h1>Quản lý bài đăng</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>PostBlog id</th>
            <th>Nội dung bài đăng</th>
            <th>Giá</th>
            <th>Diện tích</th>
            <th>Địa chỉ</th>
            <th>Chỉnh sửa</th>
          </tr>
        </thead>
        <% postblogs.forEach((entry) => { %>
        <tr ondblclick="handleUpdatePostblog('<%= entry._id %>')">
          <td><%= entry._id %></td>
          <td><%= entry.content %></td>
          <td><%= entry.price %> (VND)</td>
          <td><%= entry.acreage %> m<sup>2</sup></td>
          <td><%= entry.address %></td>
          <td>
            <input class="btn btn-primary" type="button" value="Cập nhật" onclick="handleUpdatePostblog('<%= entry._id %>')">
          </td>
        </tr>
        <% }) %>
      </table>
      <script>
        function handleUpdatePostblog(value) {
          $(location).attr('href', '/update-Blog/' + value);
        }
      </script>
    </div>
  </div>
  <script src="../bootstrap-4/js/jquery.min.js" type="text/javascript"></script>
  <script src="../bootstrap-4/js/popper.min.js" type="text/javascript"></script>
  <script src="../bootstrap-4/js/bootstrap.min.js" type="text/javascript"></script>
</body>

</html>
